{% extends "master_template.html" %}

{% block title %}
Quiz - analytics
{% endblock %}


{% block header %}
    <div id="header-container">
        <h1>analytics</h1>
    </div>
{% endblock %}


{% block content %}

    <a href="{% url 'general_stats' %}">
        <button type="button" class="btn btn-primary btn-lg">GENERAL STATISTICS</button>
    </a>
    <br>
    <br>

    <a href="{% url 'index' %}">
        <button type="button" class="btn btn-primary btn-lg">MAIN MENU</button>
    </a>
    <br>
    <br>

{% endblock %}
  