{% extends "master_template.html" %}

{% block title %}
  Quiz - classification
{% endblock %}


{% block header %}
    <div id="header-container">
        <h1>Classification - top 20</h1>
    </div>
{% endblock %}


{% block content %}
    
    <p>Top scores:</p>

    <div class="table-container">
        <table class="table table-light table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <td>Nickname</td>
                    <td>Score [%]</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for game in classification_list %}
                    <tr>
                        <td>{{ game.nickname }}</td>
                        <td>{{ game.percentage }}</td>
                        <td>{{ game.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    <a href="{% url 'index' %}">
        <button type="button" class="btn btn-primary btn-lg">MAIN MENU</button>
    </a>
    <br>
    <br>

{% endblock %}
