{% extends "master_template.html" %}

{% block title %}
  Quiz - question
{% endblock %}


{% block header %}
    <div id="header-container">
        <h1>Question nr 1</h1>
    </div>
{% endblock %}


{% block content %}
    
<form method="post">
  {% csrf_token %}
  <p>{{ question_1.question_description }}</p>

  <input type="radio" id="color_red" name="color" value="red">
  <label for="color_red">{{ question_1.answer_1 }}</label><br>

  <input type="radio" id="color_blue" name="color" value="blue">
  <label for="color_blue">{{ question_1.answer_2 }}</label><br>

  <input type="radio" id="color_green" name="color" value="green">
  <label for="color_green">{{ question_1.answer_3 }}</label><br>
  
  <input type="radio" id="color_yellow" name="color" value="yellow">
  <label for="color_yellow">{{ question_1.answer_4 }}</label><br><br>
  
  <input type="submit" value="sumbit" id="">
</form>
    
{% endblock %}
