{% extends "master_template.html" %}

{% block title %}

  Quiz - question

{% endblock %}


{% block header %}

    <div id="header-container">

        <h1>Question nr 1</h1>
        <p>Total score:{{ game.total_score }}</p>

    </div>

{% endblock %}

{% block content %}
    
  <form method="post" action="/quiz/question/{{ game.id }}">

    {% csrf_token %}
    <p>{{ question_1.question_description }}</p>
    
    <input type="radio" id="quest1" name="answer" value="1" required>
    <label for="quest1">{{ question_1.answer_1 }}</label><br>

    <input type="radio" id="quest2" name="answer" value="2" required>
    <label for="quest2">{{ question_1.answer_2 }}</label><br>

    <input type="radio" id="quest3" name="answer" value="3" required>
    <label for="quest3">{{ question_1.answer_3 }}</label><br>
    
    <input type="radio" id="quest4" name="answer" value="4" required>
    <label for="quest4">{{ question_1.answer_4 }}</label><br>
    
    <br>
    
    <input type="submit" value="NEXT QUESTION" class="btn btn-primary btn-lg">
  
  </form>

  <br>

  <a href="{% url 'index' %}">
    <button type="button" class="btn btn-primary btn-lg">CANCEL GAME</button>
  </a>

    
{% endblock %}
