{% extends "master_template.html" %}

{% block title %}
  Quiz - main menu
{% endblock %}


{% block header %}
    <div id="header-container">
        <h1>Welcome in quiz game !!!</h1>
    </div>
{% endblock %}


{% block content %}
    <form method="post" action="/quiz/first_question">
        {% csrf_token %}
        <p>Enter Your nickname:</p>
        <br>
        <input name="nickname" required>
        <input type="submit" value="START GAME">
    </form>
    <br>
    <a href="{% url 'classification' %}" id="classification-button" class="game-button">
        classification
    </a>
{% endblock %}
