{% extends "master_template.html" %}

{% block title %}
  Quiz - main menu
{% endblock %}


{% block header %}
    <div id="header-container">
        <h1>Welcome in quiz game !!!</h1>
    </div>
{% endblock %}


{% block content %}

    <form method="post" action="/quiz/first_question">
        {% csrf_token %}
        <p>Enter Your nickname:</p>
        
        <input name="nickname" required>
        <br><br>
        <input type="submit" value="START GAME" class="btn btn-primary btn-lg">
    </form>


    <br>
    <br>
    <p>Recent games:</p>
    <div class="table-container">
    <table class="table table-light table-bordered table-hover table-sm">
        <thead>
            <tr>
                <td>Nickname</td>
                <td>Score [%]</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% comment %} {% if recent_games is not None %}
                {% for game in recent_games %}
                    <tr>
                        <td>{{ game.nickname }}</td>
                        <td>{{ game.percentage }}</td>
                        <td>{{ game.created_at }}</td>
                    </tr>
                {% endfor %}
            {% endif %} {% endcomment %}
        </tbody>
    </table>
    </div>

    <br>
    <a href="{% url 'classification' %}">
        <button type="button" class="btn btn-primary btn-lg">CLASSIFICATION</button>
    </a>
    <br>
    <br>
    <a href="{% url 'maintenance' %}">
        <button type="button" class="btn btn-primary btn-lg">MAINTENANCE</button>
    </a>
    <br>
    <br>

{% endblock %}
