{% extends "master_template.html" %}

{% block title %}

  Quiz summary

{% endblock %}


{% block header %}

    <div id="header-container">

        <h1>maintenance panel</h1>

    </div>

{% endblock %}

{% block content %}
    
    <p>Add question:</p>

    <form method="post" action="/quiz/add_record_question">
        {% csrf_token %}

        <label>
            Question description:
            <br>
            <input name="question_description" required>
        </label>
        <br>
        <br>
        <label>
            Answer 1:
            <br>
            <input name="answer_1" required>
        </label>
        <br>
        <br>
        <label>
            Answer 2:
            <br>
            <input name="answer_2" required>
        </label>
        <br>
        <br>
        <label>
            Answer 3:
            <br>
            <input name="answer_3" required>
        </label>
        <br>
        <br>
        <label>
            Answer 4:
            <br>
            <input name="answer_4" required>
        </label>
        <br>
        <br>
        <label>
            Correct asnwer (1-4):
            <br>
            <input name="correct_answer" pattern="[1-4]" required>
        </label>
        
        <br><br>
        <input type="submit" value="ADD QUESTION" class="btn btn-primary btn-lg">
    </form>

    <br>

    <a href="{% url 'index' %}">
        <button type="button" class="btn btn-primary btn-lg">MAIN MENU</button>
    </a>
    <br>
    <br>
    
{% endblock %}
