{% extends "master_template.html" %}

{% block title %}

  Quiz - question

{% endblock %}


{% block header %}

    <div id="header-container">

        <h1>Question nr {{ game.actual_question }}</h1>
        <p>Game id:{{ game.id }}</p>
        <p>Total score:{{ game.total_score }}</p>

    </div>

{% endblock %}

{% block content %}
    
  <form method="post" action="/quiz/question/{{ game.id }}">

    {% csrf_token %}
    <p>{{ question_number.question_description }}</p>
    
    <input type="radio" id="color_red" name="answer" value="1" required>
    <label for="color_red">{{ question_1.answer_1 }}</label><br>

    <input type="radio" id="color_blue" name="answer" value="2" required>
    <label for="color_blue">{{ question_1.answer_2 }}</label><br>

    <input type="radio" id="color_green" name="answer" value="3" required>
    <label for="color_green">{{ question_1.answer_3 }}</label><br>
    
    <input type="radio" id="color_yellow" name="answer" value="4" required>
    <label for="color_yellow">{{ question_1.answer_4 }}</label><br>
    
    <br>
    
    <input type="submit" value="sumbit">
    
    <input type="submit" value="sumbit" id="">
  
  </form>
    
{% endblock %}
