{% extends "master_template.html" %}

{% block title %}

  Quiz summary

{% endblock %}


{% block header %}

    <div id="header-container">

        <h1>Quiz finished !</h1>

    </div>

{% endblock %}

{% block content %}
    
    <p>Congratulation {{ game.nickname }} !</p>
    <p>After {{ game.question_quantity }} questions,</p>
    <p>You get {{ game.total_score }} points </p>
    <p>You get {{ percentage }} % </p>

    <br>
    

    {% comment %} <a href="{% url 'index' %}" id="start-game-button" class="game-button">
        MAIN MENU
    </a> {% endcomment %}

    <a href="{% url 'index' %}">
        <button type="button" class="btn btn-primary btn-lg">MAIN MENU</button>
    </a>
    
{% endblock %}
