{% extends "master_template.html" %}

{% block title %}

  Quiz summary

{% endblock %}


{% block header %}

    <div id="header-container">

        <p>Quiz finished !</p>

    </div>

{% endblock %}

{% block content %}
    
    <p>After {{ game.question_quantity }} questions,</p>
    <p>You get {{ game.total_score }} points </p>
    <p>You get {{ percentage }} % </p>

    <br>
    <br>

    <a href="{% url 'index' %}" id="start-game-button" class="start-game-button-a">
        MAIN MENU
    </a>
    
{% endblock %}
